body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #000;
  margin: 0 auto;
  padding: 0;
}

header {
  background-color: #000;
  height: 84.5vh;
  height: 579px;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}

nav h1 {
  color: #fff;
  letter-spacing: .1em;
  text-transform: uppercase;
  transform: rotate(-16deg);
}

header nav ul, footer ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 0 15px;
  padding: 25px 0;
  text-transform: uppercase;
}

ul li a {
  color: #fff;
  font-weight: 800;
  letter-spacing: 1px;
  text-decoration: none;
}

.svg-inline--fa {
  font-size: 30px;
}

@media screen and (max-width: 961px) {
  header nav ul {
    display: none;
  }
}
