* {
  box-sizing: border-box;
}
html, body {
    font-family: 'Open Sans', arial, sans-serif;
    letter-spacing: 0.2em;
    line-height: 1.8;
    margin: 0;
    background-color: whitesmoke;
}

header {
  text-align: center;
}

h2 {
  margin-bottom: 0;
}

svg {
  font-size: 40px;
}
