---
layout: default
title-after: Great Websites
header-class: header--home
---

{% include header.html %}


<main>
  {% for content in site.data.main-content %}
  <div class="{% if content.reverse %}flex-container--reverse{% endif %} flex-container">
    <div class="flex-container__bg-img" style="background-image: url({{ site.baseurl }}/images/{{ content.bg-img}})">
    </div>
    <div class="flex-container__content" style="background-color: #{{ content.bg-color }}">
      <div>
        <h2 class="flex-container__h2">{{ content.title }}</h2>
        <p>{{ content.meta }}</p>
        <p class="flex-container__cta-contain"><a class="flex-container__cta {% if content.reverse %}flex-container__cta--color{% endif %}" href="{{ content.cta-href }}">{{ content.cta }}</a></p>
      </div>
    </div>
  </div>
  {% endfor %}
</main>

{% include footer.html %}
