---
title: Home
layout: default
---

{% include header.html %}


<main>
  {% for content in site.data.main-content %}
  <div class="{% if content.reverse %}flex-container--reverse{% endif %} flex-container">
    <div class="flex-container__div" style="background-image: url({{ content.bg-img}})">
    </div>
    <div class="flex-container__div" style="background-color: #{{ content.bg-color }}">
      <div>
        <h2>{{ content.title }}</h2>
        <p>{{ content.meta }}</p>
        <p><a href="">{{ content.cta }}</a></p>
      </div>
    </div>
  </div>
  {% endfor %}
</main>

{% include footer.html %}
