{% if page.url == '/' %}
  <li><span class="on">ho</span>me</li>
{% else %}
  <li><a href="{{ site.baseurl }}/"><span>ho</span>me</a></li>
{% endif %}

{% if page.url == '/websites/' %}
  <li><span class="on">ou</span>r websites</li>
{% else %}
  <li><a href="{{ site.baseurl }}/websites/"><span>ou</span>r websites</a></li>
{% endif %}

{% if page.url == '/about/' %}
  <li><span class="on">ab</span>out us</li>
{% else %}
  <li><a href="{{ site.baseurl }}/about/"><span>ab</span>out us</a></li>
{% endif %}

{% if page.url == '/contact/' %}
  <li><span class="on">co</span>ntact us</li>
{% else %}
  <li><a href="{{ site.baseurl }}/contact/"><span>co</span>ntact us</a></li>
{% endif %}
