<div class="responsive-nav__display">
    {% include svg/floral.svg %}
    <div>
        <svg id="icon-hamburger" viewBox="0 0 26 17" width="100%" height="100%">
            <rect x="3" width="20" height="3" rx="1.5" ry="1.5"></rect>
            <rect x="3" y="14" width="20" height="3" rx="1.5" ry="1.5"></rect>
            <rect y="7" width="26" height="3" rx="1.5" ry="1.5"></rect>
        </svg>
    </div>
</div>



<div class="responsive-nav">
    <ul class="responsive-nav__ul">
      <li><a href="#about">About</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#team">Team</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
</div>
