<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }} - {{ site.title }}</title>
  <!-- google font cdn -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <!-- custom css -->
  <link rel="stylesheet" href="{{ site.baseurl }}css/base.css">
  <link rel="stylesheet" href="{{ site.baseurl }}css/layout.css">
  <link rel="stylesheet" href="{{ site.baseurl }}css/module.css">
</head>
<body>
  {{ content }}
</body>
</html>
